html,
body {
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.text-white {
  color: white;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-3 {
  width: 33.33333%;
}

.col-2 {
  width: 50%;
}

.col-1 {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* Header */
#header {
  height: 46px;
  background-color: rgba(0, 0, 0, 0.774);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  z-index: 1;
  font-size: 15px;
}

#nav {
  list-style-type: none;
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
  list-style-type: none;
}

#nav > li > a {
  color: white;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 20px;
  display: block;
  transition: all 0.2s ease-in-out;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: black;
  background-color: gray;
}

#nav .subnav {
  display: none;
  min-width: 140px;
  position: absolute;
  background-color: whitesmoke;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  top: 100%;
  left: 0px;
}

#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
}
.down-arrow {
  font-size: 16px;
}

/* Search Button*/
.btn {
  float: right;
}

.btn:hover .btn__search {
  background-color: #f44236;
}

.btn__search {
  color: white;
  font-size: 24px;
  padding: 11px 19px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
/* Slider */

#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url(https://www.w3schools.com/w3images/ny.jpg) top center / cover
    no-repeat;
  position: relative;
}

.slider__content {
  position: absolute;
  text-align: center;
  /* left: 0px;  */
  /* /* right: 0px;*/
  bottom: 47px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}

#slider .text__heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text__desc {
  font-weight: 300;
  margin-top: 25px;
  font-size: 15px;
}

/* CONTENT SECTION*/
#content {
  width: 100%;
}

#content .content__section {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 64px 8px;
}

#content .content__section--heading,
#content .content__section--subhead {
  text-align: center;
}

#content .content__section--heading {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#content .content__section--subhead {
  font-size: 15px;
  opacity: 0.6;
  padding: 24px 0px;
  font-style: italic;
}

#content .content__desc {
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 15px;
}

.teams__section {
  padding-top: 35px;
}

.team__info {
  width: 33.33333%;
  float: left;
  text-align: center;
}

.team__info--name {
  font-size: 15px;
  margin-bottom: 24px;
}

.teams__section img {
  margin-top: 12px;
  width: 154px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}
/* Tour Dates */
.tour__dates {
  background-color: black;
}
.tickets-list {
  background-color: white;
  margin-top: 12px;
}

.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style-type: none;
}

.tickets-list .sold-out {
  background-color: #ff4436;
  padding: 3px 4px;
  margin-left: 16px;
  color: white;
}

.tickets-list .quantity {
  background-color: black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  /*Can giua dung line-height: chieu cao chinh no --height;*/
  line-height: 24px;
  float: right;
  color: white;
  margin-top: -3px;
}

.tours-place {
  /* margin-top: 32px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom:32px; */
  margin-top: 32px;
  margin-bottom: 48px;
}

.tour-image {
  width: 100%;
}

.tour-image:hover {
  opacity: 0.6;
}

.tour-info {
  background-color: white;
  padding: 16px;
  font-size: 15px;
}

.tour-info .tour-heading {
  font-size: 15px;
  margin: 15px 0px;
}

.tour-date {
  margin: 15px 0px;
  font-weight: 200;
}

.tour-desc {
  margin: 15px 0px;

  font-weight: 400;
}

.buy-tickets {
  text-decoration: none;
  color: white;
  background-color: #000;
  padding: 10px 19px;
  display: inline-block;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 400;
  border: none;
}

.tour-info .buy-tickets:hover {
  color: #000;
  background-color: #ccc;
}

/* MODAL*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  display: none;
  align-items: center;
  justify-content: center;
}

.modal .modal-container {
  width: 900px;
  min-height: 200px;
  max-width: calc(100% - 32px);
  background-color: white;
  position: relative;
  animation: modalAnimation ease 0.5s;
}

.modal .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  color: white;
  cursor: pointer;
}

.modal .modal-close:hover {
  background-color: #ccc;
  color: #000;
}

.modal .modal-header {
  height: 130px;
  background-color: #009688;
  color: white;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  font-size: 30px;
}

.modal .bag-icon {
  margin-right: 10px;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  margin-bottom: 24px;
}

.btn-pay {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;

  padding: 16px 0px;
  width: 100%;
  background-color: #009688;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.btn-pay:hover {
  color: black;
  background-color: #ccc;
}

.modal-footer {
  text-align: right;
  margin-top: 20px;
  font-size: 15px;
  height: 50px;
}

.modal-link {
  color: #2196f3;
}

.open-modal {
  display: flex;
}

/* CONTACT  */
.contact-padding {
  margin-bottom: 124px;
}

.contact-container {
  margin-top: 35px;
}

.contact-left {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.4;
}

.contact-left ion-icon {
  padding-right: 14px;
  margin-bottom: -2px;
  font-size: 18px;
}

.form-group {
  font-size: 15px;
}

.form-group .form-control {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.form-group .form-submit {
  float: right;
  background-color: #000;
  color: white;
  padding: 8px 16px;
  margin: 8px 0px;
  cursor: pointer;
  border: none;
}

.form-submit:hover {
  background-color: #ccc;
  color: #000;
}

/* MAP */
.map .map-image {
  width: 100%;
}

/* FOOTER */
.footer {
  color: #757575;
  text-align: center;
  padding: 64px 16px;
}

.footer .logo-container {
  padding-bottom: 16px;
  font-size: 30px;
}

.logo-icon:hover {
  opacity: 0.7;
}

.author {
  font-size: 15px;
}

@keyframes modalAnimation {
  from {
    opacity: 0.4;
    transform: translateY(-80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
